<div class="container product">

<div class="row product-detail product-show">
<div class="col-md-6 text-center">

<p>

<%= link_to image_url(@product.image_url), class: 'fancybox' do %>
  <%= image_tag @product.image_url, width: "300" %>
<% end %>

</p>

</div>

<div class="col-md-3">

<p>
  <strong><%= @product.name %></strong>
</p>

<p>
  <%= @product.description %>
</p>

<p>
  <strong><%= currency(@product.price) %></strong>
</p>
<br>
<p>
  <div class="rated" data-score="<%= @product.average_rating %>"></div>
</p>

<br>
<p>
  <%= form_tag("/payments/create", remote: true, id: 'new_payment') do %>
    <%= hidden_field_tag :product_id, @product.id %> 
    <%= render partial: "shared/stripe_checkout_button" %>
  <% end %>
</p>

</div>
</div>

<div class="comments">

  <br>
  <p>   
    <%= render 'new_comment' %> 
  </p>

  <p>   
    <%= render 'comments' %> 
  </p>

  <div class="page">
    <%= will_paginate @comments %>
  </div>

</div>

<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Back', url_for(:back) %>

</div>


</div>
</div>

