<div class="container product">

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <img src="<%= @product.image_url %>">
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <%= form_tag "/payments/create" do %>
    <%= render partial: "shared/stripe_checkout_button" %>
  <% end %>
</p>

<br>

<p>
  <strong>Average Rating:</strong>
  <div class="rated" data-score="<%= @product.average_rating %>"></div>
</p>

<div class="comments">

  <br>
  <p>   
    <%= render 'new_comment' %> 
  </p>

  <p>   
    <%= render 'comments' %> 
  </p>

  <div class="page">
    <%= will_paginate @comments %>
  </div>

</div>

<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Back', url_for(:back) %>

</div>

